body {
  font-family: 'Caveat', cursive;
  background-color: #e7e7e7;
}

#my-header {
  text-align: center;
  margin: 0.5rem auto;
}

.my-title {
  color: rgb(49, 144, 202);
  font-size: 5rem;
}

.my-image {
  max-width: 100%;
  width: 300px;
  display: block;
  margin: 2rem auto;
  border-radius: 50%;
  border: 1.5px solid rgba(49, 144, 202, 0.8);
  box-shadow: 3px 6px 25px 0.02px rgba(49, 144, 202, 0.9);
}

.my-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.my-text {
  text-align: center;
  margin: 10px auto;
  color: #3190ca;
  font-size: 2rem;
}

.my-modalText {
  font-size: 1.5rem;
  color: #3190ca;
}

.my-navigation {
  margin: 2rem auto;
}

.my-navigation a {
  font-size: 1.3rem;
  margin-left: 1em;
  color: #777;
}

.my-navigation a:first-child {
  margin-left: 0em;
}

.my-navigation a:hover {
  color: #2e97d8;
}

.bg-vidGallery {
  background-color: #fff;
  padding-bottom: 26px;
}

/** PHOTO GALLERY MODAL **/

.lb-data .lb-number {
  font-size: 1.5rem;
  color: #3190ca;
}

.lb-outerContainer {
  background-color: #3190ca;
}

.img-fluid:hover {
  opacity: 0.7;
  transition: all 0.15s;
  cursor: pointer;
}

/** MEDIA QUERIES **/

@media (max-width: 500px) {
  .my-title {
    font-size: 3.35rem;
  }

  .my-image {
    margin: 3rem auto;
  }

  .my-navigation a {
    font-size: 1.3rem;
    margin-left: 0.5em;
  }

  .bg-vidGallery {
    padding-bottom: 0;
  }
}
